rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regla simplificada: Permite leer y escribir a cualquier usuario que haya iniciado sesión.
    // La lógica de la aplicación se encarga de que los usuarios solo vean y editen lo que les corresponde.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
